{% extends 'base.html.twig' %}

{% block title %}Hello ChoixJeuxHomeController!
{% endblock %}

{% block body %}

	{% for message in app.flashes('message') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}

	<main>
		<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
			<div class="col-md-6 p-lg-5 mx-auto my-5">
				<h1 class="display-4 fw-normal">Commencez à jouer avec Boo</h1>
				<p class="lead fw-normal">Stimulation, rééducation et remédiation cognitives pour les professionnels de santé</p>
			</div>
			<div class="product-device shadow-sm d-none d-md-block"></div>
			<div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
		</div>

		<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
			<div class="bg-light me-md-3 mx-auto  pt-3 px-3 pt-md-5 px-md-5 text-center  overflow-hidden">
				<div class="my-3 py-3">
					<h2 class="display-5">Memory</h2>
					<p class="lead">Exercer votre capacité à memorisé les cartes</p>

					<a class="btn btn-outline-secondary" href="{{ path('memory') }}">Jouer</a>
				</div>
				<div class="mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">

					<img src="{{ asset('img/card.png') }}" width="128" height="128" alt="hanoi">
				</div>
			</div>
			<div class="bg-light me-md-3 mx-auto  pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
				<div class="my-3 p-3">
					<h2 class="display-5">Tour de Hanoi</h2>
					<p class="lead">Déplacer les disques jusqu'à la tour de droite</p>

					<a class="btn btn-outline-secondary" href="{{ path('hanoigame') }}">Jouer</a>
				</div>
				<div class=" mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
					<img src="{{ asset('img/abacus.png') }}" width="128" height="128" alt="hanoi">
				</div>
			</div>
			<div class="bg-light me-md-3 mx-auto pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
				<div class="my-3 p-3">
					<h2 class="display-5">Mathematics</h2>
					<p class="lead">Calculer rapidement sans faire d'erreur !!!</p>

					<a class="btn btn-outline-secondary" href="{{ path('mathgame') }}">Jouer</a>
				</div>
				<div class="mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">

					<img src="{{ asset('img/maths.png') }}" width="128" height="128" alt="math">
				</div>
			</div>
		</div>
	</main>

{% endblock %}
