<form method="post">
	{% if error %}
		<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	{% if app.user %}
		<div class="mb-3">
			You are logged in as
			{{ app.user.username }},
			<a href="{{ path('app_logout') }}">Logout</a>
		</div>
	{% endif %}
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text">
				<i class="fa fa-user"></i>
			</span>
		</div>
		<input type="text" class="form-control" placeholder="Email" aria-label="Email" name="email">
	</div>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text">
				<i class="fa fa-lock"></i>
			</span>
		</div>
		<input type="password" class="form-control" placeholder="Mot de passe" aria-label="Mot de passe" name="password">
	</div>
	<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
	<a class="small-text text-white" href="{{ path('app_forgotten_password') }}">Mot de passe oublié?</a>

	<br/><br/>
	<input type="submit" class="btn btn-light" value="Se connecter">
</form>
