{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
<link href="{{ asset('css/login/loginhome.css') }}" rel="stylesheet"/>
	<div class="main">
		<div class="container">
			<center>
				<div class="middle">
					<div id="login">
						<form method="post">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							{% if app.user %}
								<div class="mb-3">
									You are logged in as
									{{ app.user.username }},
									<a href="{{ path('app_logout') }}">Logout</a>
								</div>
							{% endif %}
							<fieldset class="clearfix">

								<p>
									<span class="fa fa-user"></span><input type="text" placeholder="Adresse email" value="{{ last_username }}" name="email" required></p>

								<p>
									<span class="fa fa-lock"></span><input type="password" placeholder="Mot de passe" name="password" required></p>

								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

								<div>
									<span style="width:48%; text-align:left;  display: inline-block;">
										<a class="small-text" href="#">Forgot password?</a>
									</span>
									<span style="width:50%; text-align:right;  display: inline-block;"><input type="submit" value="Sign In"></span>
								</div>
							</fieldset>
							<div class="clearfix"></div>
						</form>

						<div class="clearfix"></div>

					</div>
					<!-- end login -->
					<div class="logo">
						<img src="{{ asset('img/logo_boo2.png') }}" alt="LOGO" width="200" height="200"/>

						<div class="clearfix"></div>
					</div>

				</div>
			</center>
		</div>
	</div>

{% endblock %}
