{% extends 'base.html.twig' %}

{% block title %}Se connecter sur boo
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('css/login/loginhome.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

	{% for message in app.flashes('danger') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('warning') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('message') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}
	<div class="container full-height">
		<br/><br/>
		<div class="row">
			<div class="col"></div>
			<div class="col pt-5  text-white">
				<br/><br/>
				{{form(emailForm)}}


				</div>
			</div>
		</div>
	{% endblock %}
