{% extends 'base.html.twig' %}

{% block title %}Inscription sur le site boo
{% endblock %}


{% block stylesheets %}
	<link href="{{ asset('css/espace.css') }}" rel="stylesheet"/>
{% endblock %}


{% block body %}
	<div class="main">
		{% for flashError in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flashError }}</div>
		{% endfor %}

		<div class="container full-height text-white">

			<h1 class="text-center display-3  mb-5 pt-5">S'inscrire</h1>

			{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.pseudo, { 'label': 'Nom' }) }}
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.numero_adeli) }}
			{{ form_row(registrationForm.plainPassword) }}

			{{ form_row(registrationForm.agreeTerms) }}
			<p>
				<a class="text-warning offset-md-2" href="{{ path('c_g_u') }}">Lire les Conditions</a>
			</p>
			<button type="submit" class="btn btn-light mb-5">Enregister</button>
			{{ form_end(registrationForm) }}

		</div>

	{% endblock %}
