{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<style>
		div.main {
			background: #0264d6; /* Old browsers */
			background: -moz-radial-gradient(center, ellipse cover, #0264d6 1%, #1c2b5a 100%); /* FF3.6+ */
			background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#0264d6), color-stop(100%,#1c2b5a)); /* Chrome,Safari4+ */
			background: -webkit-radial-gradient(center, ellipse cover, #0264d6 1%,#1c2b5a 100%); /* Chrome10+,Safari5.1+ */
			background: -o-radial-gradient(center, ellipse cover, #0264d6 1%,#1c2b5a 100%); /* Opera 12+ */
			background: -ms-radial-gradient(center, ellipse cover, #0264d6 1%,#1c2b5a 100%); /* IE10+ */
			background: radial-gradient(ellipse at center, #0264d6 1%,#1c2b5a 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1); /* IE6-9 fallback on horizontal gradient */
			height: calc(100vh);
			width: 100%;
		}
	</style>
	<div class="main">
		{% for flashError in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flashError }}</div>
		{% endfor %}

		<div class="container text-warning">

			<h1 class="text-center  mb-5 pt-5">S'inscrire</h1>

			{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.pseudo) }}
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.numero_adeli) }}
			{{ form_row(registrationForm.plainPassword) }}

			{{ form_row(registrationForm.agreeTerms) }}
			<p>
				<a class="text-warning offset-md-2" href="https://www.privacypolicies.com/live/9f6a1542-18d1-42ef-b174-06304302e41b">Lire les Conditions</a>
			</p>
			<button type="submit" class="btn btn-danger mb-5">Enregister</button>
			{{ form_end(registrationForm) }}

		</div>

	{% endblock %}

	{% block footer %}{% endblock %}
