{% extends 'base.html.twig' %}

{% block title %}Suivi
{% endblock %}


{% block stylesheets %}
	<link href="{{ asset('css/espace.css') }}" rel="stylesheet"/>
{% endblock %}


{% block body %}

	<div class="container full-height mt-5 mb-5 text-white">

		<h1 class="display-3 mb-5">Mes patients</h1>
		<table class="table table-striped table-primary">
			<thead class="thead">
				<tr>
					<th>Nom</th>
					<th>Prenom</th>
					<th>Age</th>
					<th>Pathologie</th>
				</tr>
			</thead>
			<tbody>
				{% for patient in listepatient %}
					<tr>
						<td>{{ patient.Nom }}</td>
						<td>{{ patient.Prenom }}</td>
						<td>{{ patient.age }}</td>
						<td>{{ patient.Pathologie }}</td>
					</tr>

				{% else %}
					<tr>
						<td class="text-warning" colspan="6">Vous avez aucun patient enregistrer ! ;)
						</td>
					</tr>
				{% endfor %}
			</tbody>

		</table>

		<a href="{{ path('patientajout') }}" class="btn btn-light" style=" color: #333 !important" role="button">Ajouter un patient</a>
	</div>

{% endblock %}

{% block footer %}{% endblock %}
