{% extends 'base.html.twig' %}

{% block title %}Jeux index
{% endblock %}

{% block body %}


	<div class="container mb-5 mt-5 bg-light">
		<h1 class="text-center mt-5 mb-5 ">Score de tout les Utilisateurs</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Titre</th>
					<th>Score</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for jeux in jeuxobjet %}
					<tr>
						<td>{{ jeux.id }}</td>
						<td>{{ jeux.Titre }}</td>
						<td>{{ jeux.Score }}</td>
						<td>
							<a href="{{ path('jeux_show', {'id': jeux.id}) }}" class="btn btn-success ">show</a>
							<a href="{{ path('jeux_edit', {'id': jeux.id}) }}" class="btn btn-warning ">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a class="btn btn-primary" href="{{ path('jeux_new') }}">Create new</a>
	</div>
{% endblock %}

{% block footer %}{% endblock %}
