{% extends 'base.html.twig' %}

{% block title %}Interface Gestion des Users
{% endblock %}


{% block stylesheets %}
	<link href="{{ asset('css/bg1-alt.css') }}" rel="stylesheet"/>
{% endblock %}


{% block body %}

	{% if is_granted('ROLE_ADMIN') %}

		<div class="container ">

			<h1 class="text-center mt-5 mb-5 ">Interface Gestion des Users</h1>

			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Email</th>
						<th>Pseudo</th>
						<th>Roles</th>
						{# <th>Password</th> #}
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>{{ user.id }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.pseudo }}</td>
							<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
							{# <td>{{ user.password }}</td> #}
							<td>
								<a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-success btn-sm square" role="button">Voir</a>
								<a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-warning btn-sm square" role="button">Modifier</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">rien trouver</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<a class="btn btn-primary" href="{{ path('user_new') }}">Creer</a>
		</div>

	{% endif %}


{% endblock %}

{% block footer %}{% endblock %}
